<label ng-bind="boxTitle"></label>
<div class="file-box {{boxClass}}" ng-class="{'isRequired': isRequired}">
    
    <input type="file" style="display: none;"/>

    <div class="file-error" ng-show="fileSizeError">
        @R.Get("File too big")
        <br />
        @R.Get("Max {{maxSizeAllowed}} allowed")
    </div>

    <div class="file-error" ng-show="fileTypeError">
        @R.Get("Invalid file type")
        <br />
        {{fileTypeDescription}}
    </div>

    <img class="image-selector" ng-class="{'readonly': readonly}" ng-src="{{document.DataUrl}}" ng-show="isImage()" />
    <img class="image-selector file-icon" ng-class="{'readonly': readonly}" src="~/Content/images/file_pdf.png" ng-show="isPdf()" />
    <img class="image-selector file-icon" ng-class="{'readonly': readonly}" src="~/Content/images/file_audio.png" ng-show="isAudio()" />
    <img class="image-selector file-icon" ng-class="{'readonly': readonly}" src="~/Content/images/file_email.png" ng-show="isEmailFile()" />

    <div ng-hide="isImage()"></div>

    <div class="placeholder image-selector" ng-class="{'readonly': readonly}" ng-hide="fileSizeError || fileTypeError || isImage() || isPdf() || isAudio()">
        <div>{{fileTypeDescription}}</div>
        <div class="drag-and-drop">@R.Get("Click or Drag & Drop")</div>
    </div>

    <div class="file-toolbar">
        <a class="btn image-selector" ng-class="{'readonly': readonly}" ng-hide="readonly">@R.Get("Choose")...</a>

        <a class="btn" ng-href="{{document.Url}}" ng-show="document.Url" target="_blank">
            <i class="fa fa-download"></i>
        </a>
        
        <a class="btn" ng-href="{{document.PreviewUrl}}" ng-show="document.Url" target="_blank" bs-tooltip data-original-title="@R.Get("Open in new window")">
            <i class="fa fa-eye"></i>
        </a>

        <a ng-show="isNotEmpty() && !readonly" class="btn" ng-click="clear()">
            <i class="fa fa-trash-o"></i>
        </a>
    </div>
</div>
